.navigation {
    font-size: 1rem;
}
.galleryNav {
    text-align: center;
  }
  .galleryNav>a {
      text-decoration: none;
      margin: 25px;
  }
  #next-area, #previous-area {
    margin: auto;
}
#next-button, #previous-button{
    color: white;
    background: skyblue;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    font-size: 3rem;
}
.gallery-content{
    display: flex;
    flex-direction: row;
}
.gallery-images {
    height: 500px;
}
#next-button:hover, #previous-button:hover{
    background: cornflowerblue;
  }
  @media (max-width: 1000px){
    
}