.logo {
    display: block;
    margin: auto;
    height: 150px;
    width: 150px;
    border: solid black 3px;
}
.navigation>a{
    border: solid black 3px;
    padding: 1rem 2rem; 
}
h1 {
    text-align: center;
}
@media (max-width: 1000px){
     .navigation
     {
         text-align: center;
         margin: 2rem;
     }
    .navigation>a{
        border: solid black 3px;
        padding: 1rem 2rem;
    }
 }